.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.post-box {
  width: 45rem;
  /* height: 20rem; */
  padding: 2rem;
  margin: auto;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  background-color: azure;
  margin-bottom: 2rem;
}

.post-content {
  /* box-sizing: content-box; */
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  border: 0.3 rem;
  border-style: solid;
  border-color: black;
  background-color: lightblue;
  margin-bottom: 1rem;
}

.bottom-content {
  box-sizing: content-box;
  border: 0.3 rem;
  border-style: solid;
  border-color: black;
}

.whole-post-box {
  width: 50rem;
  /* height: 25rem; */
  padding: 2rem;
  margin: auto;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
  background-color: azure;
  margin-bottom: 2rem;
}

.whole-post-comment-box {
  box-sizing: content-box;
  height: 15%;
  border: 0.3rem;
  border-style: solid;
  border-color: blue;
  margin-top: 1rem;
}

.whole-post-comment-textarea {
  box-sizing: content-box;
  height: 85%;
  width: 85%;
  resize: none;
}

.links-around-feed {
  padding: 1rem;
  border: 0.3rem;
  border-style: solid;
  border-color: black;
}

.comment {
  border: 0.3rem;
  border-style: solid;
  border-color: black;
}